<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="css/bootstrap.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap" rel="stylesheet">

  <!-- font for footer text -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap" rel="stylesheet">

  <title>Sign Up - Books & Purple</title>
</head>


<header>
  <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
    <div class="container">

      <div class="collapse navbar-collapse order-3 order-md-2" id="navbar-left">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
        </ul>
      </div>

      <a class="booksandpurple mx-auto order-1 order-md-3" href="/"><span class="theBooks">BOOKS & </span><span
          class="thePurple">PURPLE</span></a>

      <div class="collapse navbar-collapse order-4 order-md-4" id="navbar-right">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
          </li>
          <li class="nav-item">
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- <body id="modalSignin">
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
            <div class="container">

                <a class="booksandpurple mx-auto order-1 order-md-3" href="/"><span class="theBooks">BOOKS & </span><span
                        class="thePurple">PURPLE </span></a>

            </div>
        </nav>
    </header> -->