<%- include("./partials/headers") -%>

<div class="container">
    
    <div class="col-md-3" style="margin-top:2rem; margin-bottom: 2rem; border-right: 0.5px rgb(182, 181, 181) solid;">
        <br>
        <div class="account-font"><span class="onDisplay">Overview<span></span></div>
        <div class="account-font">My Posts</div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="col-md-9">

    </div>

    
</div>
<%- include("./partials/footers") -%>