<%- include("./partials/register-header") -%>

<div class="container" style="padding-top: 2rem;">
        <div>
                <h4>Credits for Icons</h4>
        </div>

        <div>
                View Counts Icon Image Source: <a href="https://www.flaticon.com/free-icons/eye" title="eye icons">Eye icons
                        created by Smashicons - Flaticon</a>
        </div>

        <div>
                Like (Thumbs Up) Icon Image Source: <div> Icons made by <a href="https://www.flaticon.com/authors/vectorspoint" title="vectorspoint"> vectorspoint </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
        </div>

        <div>
                Dislike (Thumbs Down) Icon Image Source: <div> Icons made by <a href="https://www.flaticon.com/authors/vectorspoint" title="vectorspoint"> vectorspoint </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div>
        </div>

        <hr>

        <div>
                <h4>Credits for "Popular Categories" Images: </h4>
        </div>

        <div>Biography Tag Background Image Source: Image by <a
                        href="https://pixabay.com/users/noel_bauza-2019050/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1185464">Noel
                        Bauza</a> from <a
                        href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1185464">Pixabay</a>
        </div>

        <div>Business Tag Background Image Source: Image by <a
                        href="https://pixabay.com/users/pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2178288">Pexels</a>
                from <a
                        href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2178288">Pixabay</a>
        </div>

        <div>Fiction Tag Background Image Source: Image by <a
                        href="https://pixabay.com/users/bessi-909086/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=736877">Bessi</a>
                from <a
                        href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=736877">Pixabay</a>
        </div>

        <div>History Tag Background Image Source: Image by <a
                        href="https://pixabay.com/users/sasint-3639875/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1822520">Sasin
                        Tipchai</a> from <a
                        href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1822520">Pixabay</a>
        </div>

        <div>Non-fiction Tag Background Image Source: Image by <a
                        href="https://pixabay.com/users/8moments-4532813/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3605113">Simon
                        Berger</a> from <a
                        href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3605113">Pixabay</a>
        </div>

        <div>Science Tag Background Image Source: Image by <a
                        href="https://pixabay.com/users/ulleo-1834854/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3495722">Ulrike
                        Leone</a> from <a
                        href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3495722">Pixabay</a></a>
        </div>

        <div>Self-Help Tag Background Image Source: Image by <a
                        href="https://pixabay.com/users/timhill-5727184/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2900064">Tim
                        Hill</a> from <a
                        href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2900064">Pixabay</a>
        </div>
        <hr>
</div>

<%- include("./partials/register-footer") -%>