<%- include("./partials/register-header") -%>

<div class="containter">

    <body class="password-backgd">
        <div class="modal position-static d-block py-5" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content rounded-5 shadow">
                    <div class="modal-header p-5 pb-4 border-bottom-0">
                        <h2 class="fw-bold mb-0">Please Type in Your Email</h2>
                    </div>

                    <div class="modal-body p-5 pt-0">
                        <form class="">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control rounded-4" id="floatingInput"
                                    placeholder="name@example.com">
                                <label for="floatingInput">Email address</label>
                            </div>
                            
                            <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Send Link</button>
                            <small class="text-muted">We will be sending you a link to reset your password if your email is found in our database.</small>
                            <hr class="my-4">
                            <div style="text-align: center;">
                            <a href="/login"><label data-bs-dismiss="modal">Back to Login</label></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</div>

<%- include("./partials/register-footer") -%>