<%- include("./partials/register-header") -%>

<body class="signup-backgd">
    <div class="modal position-static d-block py-5" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-5 shadow">
                <div class="modal-header p-5 pb-4 border-bottom-0">
                    <h2 class="fw-bold mb-0">Signing Up</h2>
                    <a href="/login"><label data-bs-dismiss="modal">Login</label></a>
                </div>

                <div class="modal-body p-5 pt-0">
                    <form class="">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control rounded-4" id="floatingInput"
                                placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control rounded-4" id="floatingPassword"
                                placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign up</button>
                        <small class="text-muted">By clicking Sign up, you agree to the terms of use.</small>
                        <hr class="my-4">
                        <div class="termAndPolicy">
                            <a href="google.com">Term of Use</a>&nbsp;&nbsp;•&nbsp;&nbsp;<a href="google.com">Privacy
                                Policy</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include("./partials/register-footer") -%>