<%- include("./partials/headers") -%>

<div class="container">
    <div>
        <h1>Congratulations! Your Submission Was Successful!</h1>
    </div>

    <div>
        <button>Home</button>
    </div>
</div>

<%- include("./partials/register-footer") -%>